/*css reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*css reset*/



.header{
	position: relative;
	background-color: black;
	color: gray;
	font-weight: 200;
	height: 5.5vw;
	display: flex;
	justify-content: space-between;
}
.reiter{
	margin-left: 90px;
	display: flex;
	width: 25vw;
	align-items: center;
}
.list{
	display: flex;
	align-items: center;
	justify-content: space-around;
    font-family: 'Montserrat', 'Oswald', sans-serif;
	width: 100%;
}
li:hover{
	color: white;
	cursor: pointer;	
}
.logo{
	top: 15px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); 
}
.icons{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-right: 110px;
}
.reiterBox{
	margin: 15px;
	width: 30px;
	cursor: pointer;
}
.login{
	display: flex;
	align-items: center;
	margin-left: 10px;
	cursor: pointer;
}
.login-text{
	margin-left: 5px;
    font-family: 'Montserrat', 'Oswald', sans-serif;
}
.login:hover .login-text{
	color: white;
}
.svg-icon {
    width: 25px;
    height: 25px;
    filter: invert(50%);
}
.reiterBox:hover .svg-icon,
.login:hover .svg-icon {
    filter: invert(100%);
}
.svg-logo{
	width: 50px; 
    height: 50px; 
}
.picture{
	width: 100vw;
	height: auto;
}
.infobox{
	position: absolute;
	top: 180px;
	left: 100px
}
.title{
	padding: 50px;
	padding-left: 0px;
	font-size: 55px;
	font-weight: 200;
    font-family: 'Playfair Display', 'Libre Baskerville', serif;
}
.text{
	font-size: 15px;
    font-family: 'Montserrat', 'Oswald', sans-serif;
}
.button-container{
	padding-top: 60px;
	display: flex;
	justify-content: left;
}
.button1{
	display: flex;
	align-items: center;
	justify-content: center;
    font-family: 'Montserrat', 'Oswald', sans-serif;
	border: 1px solid black;
	height: 40px;
	margin: 10px;
	padding: 5px;
	padding-left: 20px;
	padding-right: 20px;
	margin-right: 5px;
	color: black;
	font-weight: bold;
}
.button2{
	display: flex;
	align-items: center;
	justify-content: center;
    font-family: 'Montserrat', 'Oswald', sans-serif;
	color: white;
	font-weight: bold;
	border: 1px solid black;
	background-color: #0078D6;
	margin: 10px;
	margin-left: 5px;
	padding: 5px;
	padding-left: 20px;
	padding-right: 20px;
}
.button1:hover{
	background-color: rgba(146, 146, 146, 0.5);
}

.button2:hover{
	background-color: #014880;
}

.background{
	position: relative;
}

.overlay1{
	
	position: absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	background: rgb(255,255,255);
	background: linear-gradient(90deg, rgba(255,255,255,1) 5%, rgba(255,255,255,0) 50%);

}
.overlay2{
	
	position: absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	background: rgb(255,255,255);
	background: linear-gradient(0deg, rgba(255,255,255,1) 4%, rgba(255,255,255,0) 50%);

}

.supportBox{
	background-color: black;
	border: solid 1px black;
	position: absolute;
	bottom: 10px;
	right: 20px;
	height: 60px;
	width: 60px;
	border-radius: 15%;
    overflow: hidden;
	padding: 5px;
}

.supportBox img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}